<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.burcakdemircioglu.wannabeer">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.BeerDetailActivity"
            android:parentActivityName=".ui.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="vnd.android.cursor.item/vnd.com.example.burcakdemircioglu.wannabeer.items" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.MainActivity" />
        </activity>

        <service
            android:name=".data.UpdaterService"
            android:exported="false" />

        <provider
            android:name=".data.BeersProvider"
            android:authorities="com.example.burcakdemircioglu.wannabeer"
            android:exported="false" />

        <activity
            android:name=".ui.favorites.FavoritesActivity"
            android:label="@string/title_activity_favorites"
            android:parentActivityName=".ui.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.burcakdemircioglu.wannabeer.ui.MainActivity" />
        </activity>

        <activity
            android:name=".ui.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".ui.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.burcakdemircioglu.wannabeer.ui.MainActivity" />
        </activity>
        <activity
            android:name=".ui.SearchActivity"
            android:label="@string/title_activity_search"
            android:parentActivityName=".ui.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.burcakdemircioglu.wannabeer.ui.MainActivity" />
        </activity>
        <activity
            android:name=".ui.categories.CategoriesDetailActivity"
            android:label="@string/title_activity_categories_detail"
            android:parentActivityName=".ui.categories.CategoriesActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.categories.CategoriesActivity" />
        </activity>
        <activity
            android:name=".ui.BeerDetailActivityWithoutPager"
            android:label="@string/title_activity_beer_detail_activity_without_pager"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
        android:name=".ui.categories.CategoriesActivity"
        android:label="@string/title_activity_categories"
        android:parentActivityName=".ui.MainActivity"
        android:theme="@style/AppTheme.NoActionBar">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.example.burcakdemircioglu.wannabeer.ui.MainActivity" />
    </activity>
        <activity
            android:name=".ui.CountriesActivity"
            android:label="@string/title_activity_countries"
            android:parentActivityName=".ui.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.burcakdemircioglu.wannabeer.ui.MainActivity" />
        </activity>
        <activity
            android:name=".ui.CountryDetailActivity"
            android:label="@string/title_activity_categories_detail"
            android:parentActivityName=".ui.CountriesActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.CountriesActivity" />
        </activity>

        <receiver android:name=".notification.AlarmReceiver"/>
        <service android:name=".notification.NotifyService"/>
    </application>

</manifest>